<h1>Search Date </h1>

<%= form_with url: search_date_path, method: :get do |form| %>
  <%= form.label :date, "Select Date" %>
  <%= form.text_field :date %>
  <%= form.submit %>
<% end %>

<% if @response %>
  <div>
    <%= @response["explanation"] %>
    <img src="<%= @response["url"] %>" >
  </div>
<% end %>