<h1>Search Date </h1>

<%= form_with url: search_date_path, method: :get do |form| %>
  <%= form.label :date, "Select Date" %>
  <%= form.text_field :date %>
  <%= form.submit %>
<% end %>


<% if @response %>
  <div class="z-30 relative items-center justify-center w-full h-full overflow-auto">
    <div class="inset-0 h-screen bg-cover bg-center" 
        style=" 
        background-image: 
        url('<%= @response["url"] %>');"
    >
    </div>
    <div class="absolute inset-0 z-20 flex items-center justify-center h-screen w-full bg-gray-900 bg-opacity-75"></div>
    <div class="absolute inset-0  z-30  flex flex-col items-center justify-center">
        <div class="shadow-2xl rounded-lg w-4/5 h-96 bg-cover bg-center"
            style=" 
            background-image: 
            url('<%= @response["url"] %>');">

            <div class="grid grid-cols-12 gap-1">
                <div class="relative my-6 px-8 col-span-12 sm:col-span-12 md:col-span-7 lg:col-span-7 xxl:col-span-7">
                    <div class="border-l-4 border-gray-400 py-20 px-5 mx-2 absolute left-0">
                        <p class="italic text-white text-xl md:text-4xl lg:text-6xl uppercase text-center  font-semibold ">
                        <%= @response["title"] %>
                        </p>
                    </div>
                    <div class="text-gray-400 font-semibold text-xl mb-4"><%= @response["date"] %></div>
                    <div class="absolute border-gray-400 border-t-4 bottom-0 py-1 px-4 w-4/5"></div>
                </div>
                <div class=" col-span-12 sm:col-span-12 md:col-span-5 lg:col-span-5 xxl:col-span-5">
                    <div class="overflow-auto relative bg-pink-900 h-full md:h-96 w-full bg-opacity-50 rounded-tr-lg rounded-br-lg">
                        <div class=" p-8">
                            <p class="text-white text-xs md:text-sm lg:text-xl mb-4">
                                <%= @response["explanation"] %>
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>

<% if @error %>
  <h1>Bad Request </h1>
<% end %>


